.navbar.fixed-top.navbar-light.bg-light.navbar-expand-lg
  .container
    = content_link_to root_path, class: 'navbar-brand' do
      = image_pack_tag 'media/images/dead_crumbs-transparent.png', alt: 'Dead Crumbs Logo', height: 30, class: 'mr-1'
      Dead Crumbs
    %button.navbar-toggler(aria-controls='collapsable_navigation' aria-expanded='false' aria-label='Toggle navigation' type='button' data-collapsable-navigation up-data='{"target": "collapsable_navigation"}')
      %span.navbar-toggler-icon
    #collapsable_navigation.collapse.navbar-collapse
      %ul.navbar-nav(up-nav)
        %li.nav-item
          = content_link_to 'Generate', generate_secrets_path, class: 'nav-link', :'up-alias' => "#{generate_secrets_path}"
        %li.nav-item
          = content_link_to 'Combine', combine_secrets_path, class: 'nav-link', :'up-alias' => "#{combine_secrets_path}"
